
.navigation {
  margin: 40px 0 40px 20px;
  list-style: none;
  color: #332E2E;
  max-width: 50%;
}

.navigation li {
  display: inline;
}

.navigation :not(:last-child) {
  font-size: 17px;
  font-weight: 600;
}

.navigation :not(:last-child)::after {
  content: ">>";
  padding: 0 15px;
}

.stepContent {
  margin-left: 58px;
  max-width: 50%;
  color: #332E2E;
}

.stepContent h1 {
  padding-bottom: 20px;
  border-bottom: 3px solid #332E2E;
}

.stepContent h2 {
  font-weight: 500;
  margin-bottom: 30px;
}

.stepContent img {
  width: 100%;
  margin-bottom: 20px;
}

.stepContent h3 {
  font-weight: 500;
  margin-bottom: 15px;
}

.instruction {
  border: 3px solid #ffff;
  padding: 25px;
  border-radius: 10px;
  font-weight: 500;
  margin-bottom: 40px;
}

.action {
  border: 3px solid #ffff;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: 500;
  margin-bottom: 50px;
}
